<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transaction History - CyberWallet Bank</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/transactions.css}" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="#">CyberWallet Bank</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="/transactions">Transactions</a></li>
        <li class="nav-item"><a class="nav-link" href="/loans">Loans</a></li>
        <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    </ul>
</nav>

<div class="container">
    <h2 class="text-center">Transaction History</h2>
    <div class="table-responsive table-custom">
        <div class="scrollable-element custom-scrollbar">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.id}"></td>
                <td th:text="${transaction.type}"></td>
                <td th:text="${transaction.amount}"
                    th:classappend="${transaction.type.contains('Transfer In') || transaction.type == 'Deposit'} ? 'text-success' : 'text-danger'">
                    <span th:text="${transaction.type.contains('Transfer In') || transaction.type == 'Deposit'} ? '+$' + transaction.amount : '-$' + transaction.amount"></span>
                </td>
                <td th:text="${transaction.timestamp}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <p>&copy; 2024 Code With CyberWallet. All rights reserved. | <a href="#" class="custom-link">Privacy Policy</a> | <a href="#" class="custom-link">Terms of Service</a></p>
</footer>
</body>
</html>
